.sidebar {
  position: fixed;

  left: 0;
  top: 0;

  width: 260px;
  height: 100vh;

  padding: 20px;

  display: flex;
  flex-direction: column;

  background: #111111;
}

.sidebar-btn {
  width: 100%;
  padding: 18px 18px;

  background: transparent;
  color: white;

  border: none;
  border-radius: 12px;

  font-size: 18px;
  font-weight: bold;
  text-align: left;

  cursor: pointer;

  margin-top: 6px;
  transition: 0.3s;

  font-family: monospace;
}
.sidebar-btn:hover {
  background-color: #1e293b;
}
.sidebar h1 {
  margin-bottom: 40px;
  margin-top: 40px;
  font-family: monospace;
}
